src/main/webapp/WEB-INF/wsdl/final.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://ugmontSOAP/ws/theaters/schemas" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ugmontSOAP/ws/theaters/schemas" targetNamespace="http://ugmontSOAP/ws/theaters/schemas">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ugmontSOAP/ws/theaters/schemas">

    <xs:element name="theatersRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="filmID" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="theaters">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="theater" type="tns:theater"/>
            </xs:sequence>
            <xs:attribute name="filmID" type="xs:int" use="required"/>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="theater">
        <xs:all>
            <xs:element name="city" type="xs:string"/>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="region" type="xs:string"/>
            <xs:element name="zipcode" type="xs:string"/>
        </xs:all>
        <xs:attribute name="id" type="xs:int" use="required"/>
    </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="theatersRequest">
    <wsdl:part element="tns:theatersRequest" name="theatersRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="theaters">
    <wsdl:operation name="theaters">
      <wsdl:input message="tns:theatersRequest" name="theatersRequest">
    </wsdl:input>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="theatersSoap11" type="tns:theaters">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="theaters">
      <soap:operation soapAction=""/>
      <wsdl:input name="theatersRequest">
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="theatersService">
    <wsdl:port binding="tns:theatersSoap11" name="theatersSoap11">
      <soap:address location="/ugmontSOAP/ws/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>