src/main/resources/ListeSalles.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ws/theaters/schemas">

    <xs:element name="theaters" type="exem:theatersType" xmlns:exem="http://ws/theaters/schemas"/>

    <xs:complexType name="theaterType">
        <xs:all>
            <xs:element name="city" type="xs:string"/>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="region" type="xs:string"/>
            <xs:element name="zipcode" type="xs:string"/>
        </xs:all>
        <xs:attribute type="xs:int" name="id" use="required"/>
    </xs:complexType>

    <xs:complexType name="theatersType">
        <xs:sequence>
            <xs:element type="exem:theaterType" name="theater" maxOccurs="unbounded" minOccurs="0" xmlns:exem="http://ws/theaters/schemas"/>
        </xs:sequence>
        <xs:attribute type="xs:int" name="filmID" use="required"/>
    </xs:complexType>



    <xs:element name="theatersRequest" type="exem:theatersRequestType" xmlns:exem="http://ws/theaters/schemas"/>

    <xs:complexType name="theatersRequestType">
        <xs:all>
            <xs:element type="xs:string" name="filmID"/>
        </xs:all>
    </xs:complexType>
</xs:schema>