src/main/resources/ListeSalles.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="ListeSalles"/>

    <xs:complexType name="salle">
        <xs:all>
            <xs:element name="nom" type="xs:string"/>
            <xs:element name="ville" type="xs:string"/>
            <xs:element name="codePostal" type="xs:string"/>
            <xs:element name="departement" type="xs:string"/>
        </xs:all>
        <xs:attribute type="xs:int" name="id" use="required"/>
    </xs:complexType>
</xs:schema>